/* Big tablet to 1200px (widths smaller than the 1140px row used in our project) */
@media only screen and (max-width: 1200px) {
    
    .section {
        padding: 60px;
    }
    
    .section-testimonials {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    blockquote {
        margin: 0px;
    }
    
    .service-block {
        flex-direction: column;
        margin-top: 2.5em;
        margin-bottom: 0;
    }

    .service-block .image-container {
        order: -1;
        justify-content: center;
        margin: auto;
        margin-bottom: 1em;
    }

    .service-block .image-container img {
        margin-right: 0%;
    }

    .service-block .text-container {
        justify-content: center;
        margin: auto 0;
    }

    .service-block:nth-child(3) .text-container {
        margin-left: 0;
    }

    .service-block .text-container>p,
    .service-block .text-container .bullet,
    .service-block:nth-child(3) .text-container>p,
    .service-block:nth-child(3) .text-container .bullet {
        width: 80%;
        align-self: center;
        text-align: center;
    }

    .service-block .text-container .bullet {
        display: flex;
        justify-content: center;
        line-height: 80%;
    }

    .about-image-container {
        height: 300px;
    }

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }

    .section { 
        padding: 60px 0;
        width: 90%;
    }
    
    .long-copy {
        width: 100%;
        margin-left: 0;
    }

    blockquote {
        text-align: center;
    }
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 20px 3%; }
    
    /*
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    */
    .sticky .main-nav { 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 0; }
    .sticky .mobile-nav-icon { margin-top: 5px; }
    .sticky .mobile-nav-icon i { color: #555; }
    .sticky ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    h1 { font-size: 120%; }
    h2 { font-size: 150%; }
    h3 { font-size: 120%; }

    .header-text-box {
        margin-top: 20px;
    }
    
    p.long-copy {
        width: 100%;
        padding: 10px;
        margin-left: 0%;
    }
    
    .app-screen { width: 40%; }

    .service-block .image-container {
        margin-bottom: 0;
        height: 175px;
    }

    
}

/* Small phones: from 0 to 480px 
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form {width: 100%; }
} 

*/
